:root {
  --gray_text: #5A5A5A;
  --backgroundBlack: #151515;
  --gradient: linear-gradient(92.87deg, #2b8f27 0%, #2500ff 112.08%);
  --more: #6d6d6d;
  --credit: linear-gradient(90deg, rgba(26,0,176,1) 0%, rgba(56,207,56,1) 0%, rgba(26,0,176,1) 18%, rgba(48,175,80,1) 49%, rgba(26,0,176,1) 67%, rgba(48,175,80,1) 91%);
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-tight-italic";
  src: url("../fonts/InterTight-Italic-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #f5f5f5;
}

.wrapper {
  max-width: 1580px;
  margin: auto;
}
.header {
  background-color: var(--backgroundBlack);
  width: 100%;
}
.header-logo {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  text-decoration: none;
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Позиционирование прямо под кнопкой */
  left: 0;
  background-color: var(--backgroundBlack);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.active.dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.nav .arrow {
  margin-bottom: 3px;
  margin-left: 3px;
}
.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dropdown-content a:hover {
  background-color: #404040;
}
.nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav a,
button {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: white;
}
.nav a {
  text-decoration: none;
}
.nav button {
  border: none;
  background-color: inherit;
}
.header-items-left {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-items {
  display: flex;
  justify-content: space-between;
}
.header-items-right {
  align-items: center;
}
.header-items-right,
.header-items-right a {
  display: flex;
  gap: 20px;
  color: white;
}
.header-items-right a {
  text-decoration: none;
  font-family: "Inter";
  line-height: 16.94px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
.lang {
  display: flex;
}
.flag {
  margin-left: 8px;
  width: 31px;
  height: 18px;
  background-image: url("../img/KZflag.png");
}
.header-items {
  padding: 8px 0;
}
.call {
  padding: 10px;
  background-color: var(--more);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
.banner {
  display: flex;
  padding-top: 150px;
  padding-bottom: 200px;
  justify-content: space-between;
}
.banner-logo {
  margin-top: 100px;
}
.banner-logo-text {
  font-family: "Inter";
  font-size: 35.35px;
  font-weight: 400;
  line-height: 45.96px;
  text-align: left;
  margin-top: 8px;
}
.banner-button {
  display: flex;
  padding: 18px 30px;
  align-items: center;
  background: var(--gradient);
  border-radius: 20px;
  justify-content: space-between;
  margin: auto;
  margin-top: 44px;
}
.banner-button-text {
  font-family: "Inter";
  font-size: 36px;
  font-weight: 500;
  line-height: 43.57px;
  text-align: left;
  color: white;
  letter-spacing: 0.03em;
}
.banner-button-circle {
  padding: 14px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25),
    -2px -2px 2px 0px rgba(0, 0, 0, 0.25),
    2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset,
    -2px -2px 4px 0px rgba(0, 0, 0, 0.25);
}
.banner-item-text {
  font-family: "Inter-tight-italic";
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin: auto;
  margin-top: 6px;
}
.cards{
margin-bottom: 90px;
}
.cards>div{
  margin-bottom: 30px;
}
.cards-item-top-text {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  text-align: left;
}
.top-text-online span {
  color: var(--more);
}
.card-top-img {
  width: 128px;
  margin: auto;
}
.card-top {
  border-bottom: 2px solid #6d6d6d;
}
.cards-item {
  background-color: white;
  border-radius: 20px;
}
.card-top {
  padding: 15px 17px 25px;
}
.card-mid {
  padding: 12px 14px 25px;
}
.card-mid-heading {
  font-family: "Inter";
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  margin-bottom: 5px;
}
.card-mid-description {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.card-mid-description div {
  padding: 8px 9px;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 20px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
  color: #666666;
}
.card-mid-descrioption-price {
  padding: 11px 15px 15px 11px;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 20px;
}
.descrioption-price-full,
.description-price-credit-amonth {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
  text-align: left;
}
.descrioption-price-full span {
  background: linear-gradient(92.87deg, #2b8f27 -60%, #2500ff 112.08%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}
.description-price-credit {
  width: 337px;
  display: flex;
}
.description-price-credit-amonth span {
  background: linear-gradient(92.87deg, #2b8f27 0%, #2500ff 192.08%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
  
}
.description-price-credit-digits {
  margin-left: auto;
  padding: 3px 9px;
  background-image: url('../img/credit.svg');
background-size: cover;
  border-radius: 19px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 900;
  line-height: 15.73px;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
}
.cards-item a{
  text-decoration: none;
}
.card-bottom{
  background: var(--more);
  padding: 27px 23px 24px;
  font-family: 'Inter';
font-size: 30px;
font-weight: 700;
line-height: 39px;
text-align: left;
color: white;
border-radius: 0 0 20px 20px;
transition: background 1s li;
}
.advatages{
  margin-bottom: 80px;
}
.card-bottom:hover{
  background: var(--gradient);
  cursor: pointer;
}
.advantages-heading{
height: 100px;
margin-bottom: 70px;
}
.advantages-heading h2{
    font-family: 'Inter';
font-size: 80px;
font-weight: 700;
line-height: 96.82px;
text-align: left;
margin-bottom: -73px;
}
.advatages-cards-item{
  padding: 27px 7px 37px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 9px 0px #00000040;
}
.advatages-cards-item-img{
  width: 76px;
  margin: auto;
  margin-bottom: 7px;
}
.advatages-cards-item-heading{
  margin-bottom: 13px;
}
.advatages-cards-item-heading h4{
  font-family: 'Inter';
font-size: 32px;
font-weight: 600;
line-height: 38.73px;
text-align: left;
text-align: center;

}
.advatages-cards {
  display: flex;
  justify-content: space-between;
}
.advatages-cards-item-text{
  font-family: 'Inter';
font-size: 17px;
font-weight: 400;
line-height: 20.57px;
text-align: center;
color: var(--gray_text);
}
.advatages-cards-item{
  margin-bottom: 40px;
}
.whyUs-heading {
  font-family: 'Inter';
font-size: 80px;
font-weight: 700;
line-height: 96.82px;
text-align: left;
margin-bottom: 70px;
 }
 .whyUs{
  margin-bottom: 100px;
 }
 .whyUs-item{
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
 }

 .whyUs-item-text{
  font-family: Inter;
font-size: 26px;
font-weight: 400;
line-height: 33.8px;
text-align: left;

 }

 .whyUs-item-img{
  width:95px;
 }
 .whyUs-item-text{
  width: 635px;
 }
 .whyUs-stats{
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px #0000001F;
 }
 .whyUs-stats{
  display: flex;

 }
 .whyUs-stats-left{
  margin-top: 48px;
  margin-left: 68px;
  margin-bottom: 68px;
  width: 653px;
 }
 .whyUs-stats-left-num{
  background: linear-gradient(92.87deg, #2B8F27 -20%, #2500FF 100.08%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Inter';
font-size: 140px;
font-weight: 900;
line-height: 169.43px;
text-align: left;

 }
.whyUs-stats-left-heading {
  font-family: 'Inter';
font-size: 40px;
font-weight: 900;
line-height: 48.41px;
text-align: left;
margin-bottom: 30px;
 }
 .whyUs-stats-left-subheading {
  font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
text-align: left;
margin-bottom: 15px;
 }
 .whyUs-stats-left-text{
  font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 23.4px;
text-align: left;
color: var(--gray_text);
width: 604px;
 }
 .whyUs-stats-right{
  width: 620px;
  margin-left: 140px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  height: 256px;
 }
 .whyUs-stats-right-item{
  width: 50%;
 }
.whyUs-stats-right-item-num {
  font-family: 'Inter';
font-size: 46px;
font-weight: 900;
line-height: 78.25px;
text-align: center;
background: var(--gradient);
-webkit-background-clip: text;
background-clip: text;
color: transparent;

 }
 .whyUs-stats-right-item-text{
  font-family: 'Inter';
font-size: 30px;
font-weight: 400;
line-height: 51px;
text-align: center;

 }
 .projects{
  padding: 90px 0;
  max-width: 1800px;
  margin: auto;
  box-shadow: 0px 4px 15px 0px #0000001F;
  background: #F5F5F5;
 }
 .projects-top {
  display: flex;
}
.projects-top-heading {
  font-family: 'Inter';
font-size: 86px;
font-weight: 700;
line-height: 103.2px;
text-align: left;
width: 437px;
background:  linear-gradient(92.87deg, #2B8F27 0%, #2500FF 112.08%);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.projects-top-text-first{
  margin-left: auto;
  width: 280px;
  margin-right: 67px;
}
.projects-top-text-first span{
  color: #FE1010;
  text-transform: uppercase;
}
.projects-top-text {
  font-family: 'Inter-tight-italic';
font-size: 30px;
font-style: italic;
font-weight: 400;
line-height: 36px;
text-align: left;
width: 340px;
}
.pojects-item{
  background-color: white;
  padding-top: 70px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.pojects-item-top{

}
.pojects-item-top-img{
  width: 129px;
  margin: auto;
}
.project-line{
  background: var(--gradient);
  height: 4px;
  margin-top: 60px;
}
.pojects-item-mid {
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 35px;
}
.pojects-item-mid-heading {
  font-family: 'Inter';
font-size: 37px;
font-weight: 700;
line-height: 48.1px;
text-align: left;
margin-bottom: 75px;
}
.pojects-item-mid-text {
  font-family: 'Inter';
font-size: 16px;
font-weight: 700;
line-height: 20.8px;
text-align: left;

}
.pojects-item-mid-text-item span {
  color: var(--gray_text);
}
.pojects-item-bot{
  background: var(--more);
  font-family: 'Inter';
font-size: 37px;
font-weight: 700;
line-height: 48.1px;
text-align: left;
color: white;
padding: 35px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.pojects-item-bot:hover{
  background: var(--gradient);
  cursor: pointer;
}
.pojects-item-mid-text.d-flex .pojects-item-mid-text-item:last-of-type{
margin-left: 33px;
}
.pojects-item-soon{
  background: black;
  font-family: 'Inter';
font-size: 37px;
font-weight: 700;
line-height: 48.1px;
text-align: left;
color: white;
padding: 35px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.inprocess .pojects-item-top-img img{
opacity: 0.50;

}
.inprocess .project-line{
  background: var(--more);
}
.inprocess{
  color: var(--more);
}
.inprocess .pojects-item-bot:hover{
  background: var(--more);
  cursor: default;
}
.consult-left{
  width: 80%;
}
.consult{
  background-color: var(--more);
  padding: 64px 28px 64px 135px;
  display: flex;
  border-radius: 20px;
}
.consult-heading{
  font-family: 'Inter';
font-size: 70px;
font-weight: 900;
line-height: 84.72px;
text-align: left;
color: white;
margin-bottom: 70px;
}
.consult form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.consult form input{
background-color: transparent;
width: 47%;
margin-bottom: 40px;
padding-bottom: 26px;
border: none;
border-bottom: 1px solid white;
}
.consult form input::placeholder{
  font-family: 'Inter';
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
text-align: left;
color: white;
}
.consult input:focus,
input:focus-visible,
input:focus-within,
input:active,
input:valid {
    background: none;
    border: none;
    outline: none; /* Убирает стандартный фокус */
    box-shadow: none; /* Убирает тень */
    border-bottom: 1px solid white;
}
.styled-input {
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-align: left;
  color: white;
  background-color: transparent;
  border: none;
}
input#email{
  margin-bottom: 0;
}
.email-after {
  margin-top: 14px;
            display: block;
            font-family: 'Inter-tight-italic', sans-serif;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
            color: #D9D9D9;

} 
.input-container{
  width: 47%;
  position: relative;
}
.input-container  input#email{
  width: 100%;
}
.consult-rigth{
  padding-top: 20px;
}
.consult button{
  border: none;
  color: var(--more);
  padding: 20px;
  font-family: 'Inter';
font-size: 30px;
font-weight: 700;
line-height: 36.31px;
text-align: left;
border-radius: 15px;
}
.butt{
  width: 100%;
}
.permission{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}
.permission input[type='checkbox']{
  width: 20px;

}
#privacy{
    height: 20px;
  background: none;
  border: 1px solid white;
  margin-right: 10px;
}
.permission label{
  width: 884px;
  width: 884px;
height: 46px;
top: 539px;
left: 164px;
gap: 0px;
opacity: 0px;
color: #D9D9D9;

}
.consult{
  margin-top: 120px;
}
.content{
  padding: 125px 110px 86px;
  max-width: 1800px;
  margin: auto;
  box-shadow: 0px 4px 15px 0px #0000001F;
  background: #F5F5F5;
  margin-top: 120px;
  border-radius: 20px;
}
h4.content-top-text-heading{
  font-family: 'Inter';
font-size: 86px;
font-weight: 700;
line-height: 103.2px;
text-align: left;
background:  linear-gradient(92.87deg, #2B8F27 0%, #2500FF 112.08%);

  -webkit-background-clip: text;
  background-clip: text;
  width: 421px;
  color: transparent;
}
.content-top-text{
  justify-content: space-between;
}
.content-top-text span{
  font-family: 'Inter-tight-italic';
font-size: 30px;
line-height: 36px;
text-align: left;
color: black;

}
.content-top-text span:first-of-type{
  max-width: 415px;
}
.content-top-text span:last-of-type{
  max-width: 360px;
}
.content-switch{
  margin-top: 90px;
  display: flex;
  border-bottom: 4px solid #C4C4C4;
}
.content-switch div{
  font-family: 'Inter';
font-size: 32px;
font-weight: 400;
line-height: 41.6px;
text-align: left;
color: var(--more);
  margin-right: 20px;
  transition: all 0.5s ease; /* Плавный переход для свойства opacity */
}
.content-switch div:hover{
  cursor: pointer;
}
.content-switch .active{
color: black;

  border-bottom: 4px solid;
  border-image: var(--gradient);
  border-image-slice: 1;
}
.content-main{
  
 
}
.content-main-switch{
  display: none;
}


/* Показываем .content-main, если .content-switch-rec активен */
.content-switch-rec.active ~ .content-main {
  display: block;
}

/* Показываем .content-main-switch, если .content-switch-new активен */
.content-switch-new.active ~ .content-main-switch {
  display: block;
}
.content-searchBytags{
  display: flex;
  margin-top: 43px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content-searchByTags-text{
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
  color: var(--more);
  margin-right: 30px;
}
.content-searchBytags-item{
  font-family: 'Inter';
font-size: 32px;
font-weight: 400;
line-height: 41.6px;
text-align: left;
color: var(--more);
width: 169px;
display: flex;
justify-content: center;
padding: 3px 0; 
border: 2px solid #C4C4C4;
border-radius: 30px;
margin-bottom: 20px;
margin-right: 20px;
}
.content-main-item{
  background: #1B1B1B;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content-main-item-top{
  padding: 40px 23px 0;
  margin-bottom: 20px;
}
.content-main-item-mid{
  padding-left: 18px;
  padding-bottom: 30px;
}
.content-main-item-mid-heading{
  font-family: 'Inter';
font-size: 30px;
font-weight: 700;
line-height: 30px;
text-align: left;
margin-bottom: 15px;
}
.content-main-item-mid-text{
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  text-align: left;

  
}
.content-main-item-bot{
  font-family: 'Inter';
  font-size: 37px;
  font-weight: 700;
  line-height: 48.1px;
  text-align: left;
  padding: 20px 26px;
  background: var(--more);
  border-radius: 0 0 20px 20px;
}
.content-main-item-bot:hover{
  cursor: pointer;
  background: var(--gradient);
}
.mb30px{
margin-bottom: 30px;
}
.content-main-item-top.mb0px{
  margin-bottom: 0;
}
.content-main-switch .content-main-switch-item{
display: none;
}
.content-main-switch-item{
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.switch-item-img img{
border-radius: 20px 20px 0 0;
}
.switch-item-text{
  font-family: 'Inter';
font-size: 16px;
font-weight: 300;
line-height: 20.8px;
text-align: left;
margin-bottom: 6px;
color: #F5F5F5;

}
.switch-item-heading{
  font-family: 'Inter';
font-size: 26px;
font-weight: 500;
line-height: 33.8px;
text-align: left;
color: white;
margin-bottom: 6px;
}
.switch-item-mid{
  padding: 24px 25px 0px;

}
.switch-item-mid-main{
  margin-bottom: 37px;
}
.switch-item-mid-one , .switch-item-mid-two{
  margin-bottom: 21px;
}
.switch-item-mid-three{
  margin-bottom: 75px;
}
.switch-item-subheading{
  font-family: 'Inter-tight-italic';
font-size: 16px;
font-weight: 700;
line-height: 20.8px;
text-align: left;
margin-bottom: 14px;
}
.speaker{
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.speaker-img{
  margin-right: 13px;
}
.speaker-text{
  font-family: 'Inter';
font-size: 18px;
font-weight: 700;
line-height: 23.4px;
text-align: left;
color: #F5F5F5;
}
.switch-item-bot{
  padding: 26px 140px;
  background: var(--more);
  border-radius: 0 0 20px 20px;
  font-family: 'Inter';
font-size: 37px;
font-weight: 700;
line-height: 48.1px;
text-align: left;

}
.switch-item-bot:hover{
  background: var(--gradient);
  cursor: pointer;
}
.ourTeam-item-info-icon{
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--gradient);
}
.ourTeam{
  padding: 120px 0 60px;
}
.ourTeam-heading{
  font-family: 'Inter';
  font-size: 86px;
  font-weight: 700;
  line-height: 103.2px;
  text-align: left;
  margin-bottom: 40px;
}
.ourTeam-item{
  box-shadow: 0px 4px 9px 0px #0000003B;
  border-radius: 20px;

  margin-bottom: 60px;
}
.ourTeam-item-top{
  padding: 10px 20px 15px 24px ;
  display: flex;
  justify-content: space-between;
}
.ourTeam-item-info-icons{
  margin-bottom: 10px;
  display: flex;
  margin-top: 15px;
  gap: 10px;
}
.ourTeam-item-info-text{
  font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
text-align: left;
color: #666666;
text-decoration: none;
}
.info-text-line{
  margin-top: 4px;
  height: 1px;
  background-color: #666666;
}
.ourTeam-item-line{
  height: 3px;
  background: var(--gradient);
}
.ourTeam-item-bot{
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 40px;
}
.ourTeam-item-bot-name{
  font-family: 'Inter';
font-size: 30px;
font-weight: 700;
line-height: 39px;
text-align: left;

}
.ourTeam-item-bot ul{
  padding: 0;
  gap: 6px;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.ourteam-disc{
  border-radius: 50%;
  margin-right: 6px;
  height: 10px;
  width: 10px;
  background-color: black;
}
.ourTeam-item-bot-position{
  font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;

}
.ourGraduee_itemss{
  background-color: white;
  padding-top: 53px;
  padding-bottom: 43px;
}
.ourGraduee_heading{
  font-family: 'Inter';
font-size: 86px;
font-weight: 700;
line-height: 103.2px;
text-align: left;
margin-bottom: 80px;
}
.ourGraduee_items{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.FAQ_heading{
  font-family: 'Inter';
font-size: 70px;
font-weight: 700;
line-height: 84.72px;
text-align: left;

}
.FAQ-section{
  padding-top: 120px;
}
.FAQ{
  padding-top: 60px;
}

.FAQ-item {
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.FAQ-header {
  background-color: white;
  color: black;
  padding: 32px 38px;
  cursor: pointer;
  border: none;
  width: 100%;
  font-family: 'Inter';
  font-size: 31px;
  font-weight: 500;
  line-height: 37.52px;
  text-align: left;
  
  outline: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.FAQ-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: white;

}

.FAQ-content p {
  padding-left: 38px;
  padding-bottom: 47px;
  font-family: 'Inter';
font-size: 27px;
font-weight: 400;
line-height: 32.68px;
text-align: left;
padding-right: 48px;
}

.FAQ-arrow {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 10px;
  transform: rotate(45deg);
}

.FAQ-header.activeFAQ .FAQ-arrow {
  transform: rotate(225deg);
}

.review{
  padding: 70px 50px 80px 135px;
  background-color: var(--more);
  margin-top: 120px;
  border-radius: 20px;
}
.review_textarea{
  width: 100%; 
    height: 196px; 
    resize: none; /* Запрещает изменение размера */
    overflow: auto;
    border: none;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Inter';
    font-size: 26px;
    font-weight: 700;
    line-height: 33.8px;
    text-align: left;
    box-shadow: 2px 2px 11px 0px #00000030 inset;

}
.review_textarea::placeholder,
.review_textarea:focus, .review_textarea[value]{
  font-family: 'Inter';
font-size: 26px;
font-weight: 700;
line-height: 33.8px;
text-align: left;

}
.review_bottom{
  display: flex;
  align-items: center;
}
.review_button img{
  margin-left: 10px;
}
.review_button{
  border-radius: 50%;
  width: 119px;
  height: 119px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-left: 40px;
}
.review_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.review_top_heading{
  font-family: 'Inter';
font-size: 77px;
font-weight: 700;
line-height: 100.1px;
text-align: left;
color: white;
width: 620px;
}
.review_top_comment{
  font-family:'Inter-tight-italic';
font-size: 22px;
font-style: italic;
font-weight: 400;
line-height: 28.6px;
text-align: left;
color: white;
max-width: 500px;

}

.slick{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: transparent;
}
.your-class {
  margin: auto;
  width: 1713px;
}
.slick-item{
  height: 381px;
  margin: 0 10px;
  display: block;
padding: 30px 20px 20px 30px;
box-shadow: 0px 4px 9px 0px #0000003B;
display: flex;
flex-direction: column;
border-radius: 20px;
margin-top: 80px;
margin-bottom: 80px;
}

/* Стилизация стрелочек */
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  background-color: white;
  border: none;
  color: black !important;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 52px;
  height: 52px;


}

.slick-prev:hover,
.slick-next:hover, .slick-prev:focus, .slick-next:focus {
  background-color: white !important;
    box-shadow: 0px 0px 4px 0px #00000030 inset;
}

.slick-prev {
  left: -3vw !important; /* Позиционирование стрелочек */
}

.slick-next {
  right: -3vw !important; /* Позиционирование стрелочек */
}
.slick-prev:before, .slick-next:before {
  font-family: sans-serif !important;
  font-size: 20px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
  color: black !important;
  content: '<' !important;
  display: flex;
  justify-content: center;
  
}
.slick-next:before {
  color: black !important;
  content: '>' !important;
  display: flex;
  justify-content: center;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 0;
}
.slick-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.slick-item-top{
  display: flex;
  gap: 20px;
  align-items: center;
}
.slick-item a{
  text-decoration: none;
  color: black;
}
.slick_text_name{
  font-family: 'Inter';
font-size: 30px;
font-weight: 700;
line-height: 39px;
text-align: left;

}
.slick_text_text{
  font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;

}
.slick_text_text span{
  width: 20px;
}
.slick_text_text{
  display: flex;
  align-items: center;
  gap: 10px;
}
.slick_description{
  padding-top: 12px;
  font-family: 'Inter';
font-size: 15.5px;
font-weight: 400;
line-height: 20.15px;
text-align: left;

}
.text_heading{
  margin-top: 120px;
  font-family: 'Inter';
font-size: 86px;
font-weight: 700;
line-height: 103.2px;
text-align: left;

}
footer{
  padding-top: 120px;
  background-color: #151515;
}
.footer_logo{
  margin-bottom: 50px;
}
.footer_first-col {
    max-width: 410px;
  display: flex;
  flex-direction: column;
}
.footer_text {
  margin-bottom: 44px;
}
.footer_light-text {
  font-family: 'Inter';
font-size: 20px;
font-weight: 700;
line-height: 26px;
text-align: left;
color: white;
}
.footer_regular-text {
  font-family: 'Inter';
font-size: 18px;
font-weight: 200;
line-height: 23.4px;
text-align: left;
color: white;
}
.footer_second-col{
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
.footer_second-col .footer_regular-text a{
  text-decoration: none;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 200;
  line-height: 23.4px;
  text-align: left;
  color: white;
  
}
.footer_second-col .footer_regular-text{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer_second-col {
width: 337px;
}